<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpotifyListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="iTunesListenerXWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SpotifyListener.Properties.Settings>
      <setting name="ChromaSDKEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Background_Playing" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Background_Pause" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Position_Foreground" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Position_Background" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>255, 40, 0</value>
      </setting>
      <setting name="ReverseLEDRender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlbumCoverRenderEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AdaptiveDensity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Density" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RenderPeakVolumeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderFPS" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NetworkEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SymmetricRenderEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderStyleIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFMApiKey" serializeAs="String">
        <value>d2e83cf6ff54792771cc94ea496e2fac</value>
      </setting>
      <setting name="LastFMApiSecret" serializeAs="String">
        <value>7bdd7b2585682fe3e12fd8ae7b88d688</value>
      </setting>
      <setting name="AlbumColorMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PeakChroma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="BlurRadial" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="VolumeScale" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DisableTrackBackgroundOnMinimized" serializeAs="String">
        <value>False</value>
      </setting>
    </SpotifyListener.Properties.Settings>
    <iTunesListenerXWPF.Properties.Settings>
      <setting name="DiscordPlayDetail" serializeAs="String">
        <value>%track - %artist</value>
      </setting>
      <setting name="DiscordPlayState" serializeAs="String">
        <value>%playlist_name</value>
      </setting>
      <setting name="DiscordPauseDetail" serializeAs="String">
        <value>%track - %artist</value>
      </setting>
      <setting name="DiscordPauseState" serializeAs="String">
        <value>Paused</value>
      </setting>
      <setting name="ChromaSDKEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Background_Playing" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Background_Pause" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Position_Foreground" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Position_Background" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>255, 40, 0</value>
      </setting>
      <setting name="DiscordRichPresenceEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReverseLEDRender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlbumCoverRenderEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshRate" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AdaptiveDensity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Density" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RenderPeakVolumeEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderFPS" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NetworkEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SymmetricRenderEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RenderStyleIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFMApiKey" serializeAs="String">
        <value>d2e83cf6ff54792771cc94ea496e2fac</value>
      </setting>
      <setting name="LastFMApiSecret" serializeAs="String">
        <value>7bdd7b2585682fe3e12fd8ae7b88d688</value>
      </setting>
      <setting name="AlbumColorMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PeakChroma" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
    </iTunesListenerXWPF.Properties.Settings>
  </userSettings>
</configuration>
