<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colore" version="6.0.0-rc0002" targetFramework="net461" />
  <package id="EmbedIO" version="2.2.7" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net461" />
  <package id="Inflatable.Lastfm" version="1.0.1.307" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="ksemenenko.ColorThief" version="1.1.1.4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="NAudio" version="1.8.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="SciChart.Wpf.UI.Transitionz" version="1.0.9" targetFramework="net461" />
  <package id="SpotifyAPI.Web" version="4.0.0" targetFramework="net461" />
  <package id="SpotifyAPI.Web.Auth" version="4.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Unosquare.Swan.Lite" version="0.38.1" targetFramework="net461" />
</packages>