<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colore" version="6.0.0-rc0002" targetFramework="net461" />
  <package id="EmbedIO" version="2.2.7" targetFramework="net461" />
  <package id="Facebook" version="7.0.6" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.4" targetFramework="net461" />
  <package id="Inflatable.Lastfm" version="1.0.1.307" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="ksemenenko.ColorThief" version="1.1.1.4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.Data.DataView" version="0.11.0" targetFramework="net461" />
  <package id="Microsoft.ML" version="0.11.0" targetFramework="net461" />
  <package id="Microsoft.ML.CpuMath" version="0.11.0" targetFramework="net461" />
  <package id="Microsoft.ML.Recommender" version="0.11.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="NAudio" version="1.8.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.18.6" targetFramework="net461" />
  <package id="SciChart.Wpf.UI.Transitionz" version="1.0.9" targetFramework="net461" />
  <package id="SpotifyAPI.Web" version="4.0.0" targetFramework="net461" />
  <package id="SpotifyAPI.Web.Auth" version="4.0.0" targetFramework="net461" />
  <package id="SQLite.Net.Standard" version="1.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="Unosquare.Swan.Lite" version="0.38.1" targetFramework="net461" />
</packages>